<!DOCTYPE html>
<html>
  <head>
    <meta property="wb:webmaster" content="92b1c7371c9685b0" />
    <meta name="baidu-site-verification" content="TllS37oARZ" />
    <title><%= full_title(yield(:title)) %></title>
    
    <%= favicon_link_tag "favicon.ico", "data-turbolinks-track" => true %>
    
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header'%>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer'%>
    </div>

  </body>
</html>
